* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #f8f9fa;
    padding: 20px 20px 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    counter-reset: section;
}

.todo-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-controls__button {
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.todo-controls__button_delete-all,
.todo-controls__button_delete-last {
    background: #671700;
    color: white;
    min-width: 150px;
}

.todo-controls__form {
    display: flex;
    gap: 10px;
    flex: 1;
}

.todo-controls__button_add {
    background: #AE3C00;
    color: white;
    padding: 0 30px;
}

.todo-controls__input {
    flex: 1;
    padding: 12px;
    border: 1px solid #671700;
    border-radius: 4px;
    color: #671700;
}

.todo-controls__input::placeholder {
    color: #671700;
    text-align: center;
}

.filter-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-controls__wrapper-counters {
    display: flex;
    gap: 20px;
    margin: 0 20px;
}

.filter-controls__counter {
    font-weight: 700;
    content: counter(section)
}


.filter-controls__button {
    flex: 1;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filter-controls__button_show-all,
.filter-controls__button_show-completed {
    background: #671700;
    color: white;
}

.filter-controls__search {
    flex: 1;
    padding: 16px;
    border: 1px solid #671700;
    border-radius: 4px;
    color: #671700;
}

.filter-controls__search::placeholder {
    color: #671700;
    text-align: center;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #fff;
    border: 1px solid #671700;
    border-radius: 6px;
    counter-increment: section;
}

.todo-item_completed {
    background: rgba(154, 154, 154, 0.64);
}

.todo-item__button {
    align-self: flex-end;
    border: none;
    cursor: pointer;
    color: #671700;
    background: transparent;
}

.todo-item__wrapper {
    flex: 1;
    display: flex;
    gap: 10px;
}

.todo-item__checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.todo-item__text_completed {
    text-decoration: line-through;
    color: #6c757d;
}

.todo-item__date {
    margin-left: auto;
    font-size: 12px;
    color: #6c757d;
}